@import url(https://db.onlinewebfonts.com/c/e8d1660b0c3738e3d5138b97ff2b7a47?family=Conduit+ITC+W02+Bold);
@import url(https://db.onlinewebfonts.com/c/483f8a5e2868222491b8baed78121c3a?family=Copperplate+Gothic);

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: url(assets/img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
